interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24top=-1
  response:
    body:
      string: '{"detail":[{"type":"greater_than_equal","loc":["query","$top"],"msg":"Input
        should be greater than or equal to 0","input":"-1","ctx":{"error":{}}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24top=1001
  response:
    body:
      string: '{"detail":[{"type":"less_than_equal","loc":["query","$top"],"msg":"Input
        should be less than or equal to 1000","input":"1001","ctx":{"error":{}}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24skip=-1&%24top=1
  response:
    body:
      string: '{"detail":[{"type":"greater_than_equal","loc":["query","$skip"],"msg":"Input
        should be greater than or equal to 0","input":"-1","ctx":{"error":{}}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24skip=10001&%24top=1
  response:
    body:
      string: '{"detail":[{"type":"less_than_equal","loc":["query","$skip"],"msg":"Input
        should be less than or equal to 10000","input":"10001","ctx":{"error":{}}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24top=1&%24expand=test
  response:
    body:
      string: '{"detail":{"message":"Expand parameter only accepts following values:
        Assets, Attributes, Locations.","request_id":"f8b9d129-8582-4692-849b-66f5c4c4aa18"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24top=1&%24orderby=test
  response:
    body:
      string: '{"detail":{"message":"Invalid value: Invalid field name in the order
        by clause. Please use only ''asc'' or ''desc'' for sorting.","request_id":"57dfbc8f-9fa4-4b0c-9990-6eaa84a20f7c"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24top=1&%24select=test
  response:
    body:
      string: '{"detail":{"message":"Invalid field in select: test","request_id":"9419ad7e-5e00-4955-ace0-fc9184751d6d"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
