interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24top=-1&%24orderby=ContentDate%2FStart+asc&%24select=%2A
  response:
    body:
      string: '{"detail":[{"type":"greater_than_equal","loc":["query","$top"],"msg":"Input
        should be greater than or equal to 0","input":"-1","ctx":{"error":{}}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24top=1001&%24orderby=ContentDate%2FStart+asc&%24select=%2A
  response:
    body:
      string: '{"detail":[{"type":"less_than_equal","loc":["query","$top"],"msg":"Input
        should be less than or equal to 1000","input":"1001","ctx":{"error":{}}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24skip=-1&%24top=1000&%24orderby=ContentDate%2FStart+asc&%24select=%2A
  response:
    body:
      string: '{"detail":[{"type":"greater_than_equal","loc":["query","$skip"],"msg":"Input
        should be greater than or equal to 0","input":"-1","ctx":{"error":{}}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24skip=10001&%24top=1000&%24orderby=ContentDate%2FStart+asc&%24select=%2A
  response:
    body:
      string: '{"detail":[{"type":"less_than_equal","loc":["query","$skip"],"msg":"Input
        should be less than or equal to 10000","input":"10001","ctx":{"error":{}}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24top=1000&%24expand=test&%24orderby=ContentDate%2FStart+asc&%24select=%2A
  response:
    body:
      string: '{"detail":{"message":"Expand parameter only accepts following values:
        Assets, Attributes, Locations.","request_id":"ff6518f2-0806-4b20-925c-540d780c5622"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24top=1000&%24orderby=test+asc&%24select=%2A
  response:
    body:
      string: '{"detail":{"message":"Invalid value: Invalid field name in the order
        by clause. Please use only ''asc'' or ''desc'' for sorting.","request_id":"8733beac-3f04-4061-9594-359f5ae4a357"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24top=1000&%24orderby=ContentDate%2FStart+test&%24select=%2A
  response:
    body:
      string: '{"detail":{"message":"Invalid value: test","request_id":"e2455c85-ae09-4720-bd76-ca8f6bfd367a"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24top=1000&%24orderby=ContentDate%2FStart+asc&%24select=test
  response:
    body:
      string: '{"detail":{"message":"Invalid field in select: test","request_id":"3188f009-05ec-4a38-a5a5-df98c56a1216"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
