interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24filter=Name+eq+%27S2B_MSIL1C_20210711T095029_N0301_R079_T34UEC_20210711T110140.SAFE%27&%24top=1
  response:
    body:
      string: '{"@odata.context":"$metadata#Products","value":[{"@odata.mediaContentType":"application/octet-stream","Id":"5fe10705-3b67-59ca-bd14-64d9edd61b63","Name":"S2B_MSIL1C_20210711T095029_N0301_R079_T34UEC_20210711T110140.SAFE","ContentType":"application/octet-stream","ContentLength":0,"OriginDate":"2021-07-11T13:41:51.660Z","PublicationDate":"2021-07-11T14:09:22.584Z","ModificationDate":"2021-07-11T14:09:22.584Z","Online":true,"EvictionDate":"","S3Path":"/eodata/Sentinel-2/MSI/L1C/2021/07/11/S2B_MSIL1C_20210711T095029_N0301_R079_T34UEC_20210711T110140.SAFE","Checksum":[],"ContentDate":{"Start":"2021-07-11T09:50:29.024Z","End":"2021-07-11T09:50:29.024Z"},"Footprint":"geography''SRID=4326;POLYGON
        ((21.955877439922 52.343954051453, 21.94166838505 52.31755293392, 21.864738904376
        52.173781670789, 21.788584859512 52.029956311447, 21.712584079042 51.886144741263,
        21.637173227424 51.74226367166, 21.562313442406 51.598328650125, 21.487580845431
        51.454406678433, 21.439027276227 51.360286260261, 20.99971272741 51.36324170783,
        20.999706370881 52.350473157395, 21.955877439922 52.343954051453))''","GeoFootprint":{"type":"Polygon","coordinates":[[[21.955877439922,52.343954051453],[21.94166838505,52.31755293392],[21.864738904376,52.173781670789],[21.788584859512,52.029956311447],[21.712584079042,51.886144741263],[21.637173227424,51.74226367166],[21.562313442406,51.598328650125],[21.487580845431,51.454406678433],[21.439027276227,51.360286260261],[20.99971272741,51.36324170783],[20.999706370881,52.350473157395],[21.955877439922,52.343954051453]]]}}],"@odata.nextLink":"https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24filter=Name+eq+%27S2B_MSIL1C_20210711T095029_N0301_R079_T34UEC_20210711T110140.SAFE%27&%24top=1&%24skip=1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24filter=Name+eq+%27S2B_MSIL1C_20210711T095029_N0301_R079_T34UEC_20210711T110140.SAFE%27&%24top=1&%24count=True
  response:
    body:
      string: '{"@odata.context":"$metadata#Products","@odata.count":1,"value":[{"@odata.mediaContentType":"application/octet-stream","Id":"5fe10705-3b67-59ca-bd14-64d9edd61b63","Name":"S2B_MSIL1C_20210711T095029_N0301_R079_T34UEC_20210711T1[...]
