interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24filter=Name+eq+%27S2A_MSIL1C_20200116T100341_N0500_R122_T33TUH_20230428T195719.SAFE%27&%24top=1
  response:
    body:
      string: '{"@odata.context":"$metadata#Products","value":[{"@odata.mediaContentType":"application/octet-stream","Id":"57545729-dfe9-4575-98b4-b2b5af23a200","Name":"S2A_MSIL1C_20200116T100341_N0500_R122_T33TUH_20230428T195719.SAFE","ContentType":"application/octet-stream","ContentLength":833140813,"OriginDate":"2023-10-24T09:55:06.940000Z","PublicationDate":"2023-10-25T08:13:03.598263Z","ModificationDate":"2024-05-10T06:51:03.128484Z","Online":true,"EvictionDate":"9999-12-31T23:59:59.999999Z","S3Path":"/eodata/Sentinel-2/MSI/L1C_N0500/2020/01/16/S2A_MSIL1C_20200116T100341_N0500_R122_T33TUH_20230428T195719.SAFE","Checksum":[{"Value":"618a70ebfc185782dbb8663df9404bd5","Algorithm":"MD5","ChecksumDate":"2023-10-25T08:13:14.805237Z"},{"Value":"d19d55ae57b187cedbc7aa80cd5262f2881c9c1ef70ea325acd9bdd1681b3504","Algorithm":"BLAKE3","ChecksumDate":"2023-10-25T08:13:17.261101Z"}],"ContentDate":{"Start":"2020-01-16T10:03:41.024000Z","End":"2020-01-16T10:03:41.024000Z"},"Footprint":"geography''SRID=4326;POLYGON
        ((12.5332179512212 43.3262463358657, 12.572219317969 42.3383618251542, 13.904690752833
        42.3588399177066, 13.8870778350223 43.3474403888254, 12.5332179512212 43.3262463358657))''","GeoFootprint":{"type":"Polygon","coordinates":[[[12.5332179512212,43.3262463358657],[12.572219317969,42.3383618251542],[13.904690752833,42.3588399177066],[13.8870778350223,43.3474403888254],[12.5332179512212,43.3262463358657]]]}}],"@odata.nextLink":"https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24filter=Name+eq+%27S2A_MSIL1C_20200116T100341_N0500_R122_T33TUH_20230428T195719.SAFE%27&%24top=1&%24skip=1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/odata/v1/Products?%24filter=Name+eq+%27S2A_MSIL1C_20200116T100341_N0500_R122_T33TUH_20230428T195719.SAFE%27&%24top=1&%24count=True
  response:
    body:
      string: '{"@odata.context":"$metadata#Products","@odata.count":1,"value":[{"@odata.mediaContentType":"application/octet-stream","Id":"57545729-dfe9-4575-98b4-b2b5af23a200","Name":"S2A_MSIL1C_20200116T100341_N0500_R122_T33TUH_20230428T1[...]
